form {
  max-width: 600px;
  margin: 0 auto;

  .form-input {
    transition: background-color 0.3s, border-color 0.3s;

    &[readonly] {
      background-color: #f3f4f6; /* Fondo claro */
      color: #6b7280; /* Texto gris */
      cursor: not-allowed;
    }

    &:focus {
      border-color: #3b82f6; /* Azul */
      background-color: #eef6ff; /* Fondo azul claro */
    }
  }
}

button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: scale(1.02); /* Efecto flotante */
  }
}
