<div class="flex justify-center items-center min-h-screen bg-gray-100">
    <div class="card w-full max-w-sm bg-white shadow-lg p-8 rounded-lg transition-transform transform hover:scale-105">
      <h2 class="text-center text-3xl font-bold mb-6 text-gray-700">Iniciar Sesión</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <!-- Campo de Correo Electrónico -->
        <div class="mb-5">
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Correo Electrónico</mat-label>
            <input
              matInput
              class="text-base appearance-none outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent"
              placeholder="Ingrese su correo"
              formControlName="email"
              type="email"
            />
            <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
              El correo es requerido.
            </mat-error>
            <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
              Ingrese un correo válido.
            </mat-error>
          </mat-form-field>
        </div>
  
        <!-- Campo de Contraseña -->
        <div class="mb-5">
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Contraseña</mat-label>
            <input
              matInput
              class="text-base appearance-none outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent"
              placeholder="Ingrese su contraseña"
              formControlName="password"
              type="password"
            />
            <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
              La contraseña es requerida.
            </mat-error>
          </mat-form-field>
        </div>
  
        <!-- Botón de Inicio de Sesión -->
        <div class="mt-6">
          <button
            class="btn btn-primary w-full text-white bg-blue-600 hover:bg-blue-700 transition-colors duration-200 rounded-lg py-2"
            [disabled]="isSubmitting || loginForm.invalid"
            type="submit"
          >
            <span *ngIf="!isSubmitting">Iniciar Sesión</span>
            <span *ngIf="isSubmitting">
              <mat-spinner diameter="24"></mat-spinner>
            </span>
          </button>
        </div>
      </form>
  
      <!-- Enlace para registrarse -->
      <div class="text-center mt-4">
        <a [routerLink]="['/register']" class="text-blue-500 hover:underline">
          ¿No tienes una cuenta? Regístrate aquí.
        </a>
      </div>
    </div>
    <button class="btn btn-success absolute top-4 left-4" (click)="router.navigate(['/inicio'])">
      <i class="fa fa-arrow-left"></i> VOLVER
    </button>
  </div>
  