<header class="bg-gray-900 text-white py-4 shadow-lg">
  <div class="container mx-auto flex justify-between items-center">
    <!-- Logo -->
    <div class="logo flex items-center space-x-2">
      <img src="https://i.imgur.com/0L0BkQ7.png" alt="Logo" class="h-12 rounded-full">
      <span class="text-xl font-bold"></span>
    </div>

    <!-- Navegación dinámica -->
    <nav class="flex items-center space-x-4">
      <!-- Opciones públicas -->
      <ng-container *ngIf="showHomeNav">
        <a routerLink="/inicio" class="hover:text-yellow-400 transition-colors duration-300 text-sm md:text-base flex items-center space-x-2">
          <i class="fas fa-home"></i> <span>Inicio</span>
        </a>
        <a routerLink="/auth/register-tutor" class="bg-green-500 hover:bg-green-600 text-sm md:text-base px-4 py-2 rounded-full transition duration-300 flex items-center space-x-2">
          <i class="fas fa-user-plus"></i> <span>Registrarse</span>
        </a>
        <a routerLink="/auth/login" class="bg-blue-500 hover:bg-blue-600 text-sm md:text-base px-4 py-2 rounded-full transition duration-300 flex items-center space-x-2">
          <i class="fas fa-sign-in-alt"></i> <span>Iniciar sesión</span>
        </a>
      </ng-container>

      <!-- Opciones privadas -->
      <ng-container *ngIf="showAuthNav">
        <!--<a routerLink="/inicio" class="hover:text-yellow-400 transition-colors duration-300 text-sm md:text-base flex items-center space-x-2">
          <i class="fas fa-arrow-left"></i> <span>Ir al Inicio</span>
        </a>-->
        <button (click)="logout()" class="bg-red-500 hover:bg-red-600 text-sm md:text-base px-4 py-2 rounded-full transition duration-300 flex items-center space-x-2">
          <i class="fas fa-sign-out-alt"></i> <span>Cerrar Sesión</span>
        </button>
      </ng-container>
    </nav>
  </div>
</header>
