header {
    .hover\:text-yellow-400:hover {
      color: #fbbf24; /* Cambia a amarillo cuando se pasa el ratón */
    }
    .transition-colors {
      transition: color 0.3s;
    }
    .shadow-lg {
      box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    }
    button:focus {
      outline: none;
    }
  }
  